
@use "./variables";

@media (width < variables.$breakpoint-lg) {
   
    .nav-list{
        display: none;
    }
    .logo-size{
        padding-right: 0;
    }
    .burger{
        display: block;
    }
    .search-sm{
        display: block;
    }
}

@media (width < variables.$breakpoint-md) {
    .nav-info{
        display: none;
    }
    .search{
        display: none;
    }

}
